.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    background-color: #f2f2f2;
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  
  input, textarea {
    width: 50%;
    padding: 0.8em;
    margin: 1em 0;
    border: none;
    border-radius: 0.5em;
    font-size: 1.2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input[type="submit"] {
    background-color: #0077c9;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  input[type="submit"]:hover {
    background-color: #016fb9;
  }
  
  .form-img {
    margin-top: 1em;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .form-img-description {
    text-align: center;
    margin-top: 1em;
    font-size: 1.2em;
  }
  .form-submit-button {
    background-color: #1890ff;
    border-radius: 4px;
    color: #fff;
    height: 32px;
    font-size: 14px;
    font-weight: bold;
    padding: 0 16px;
    border: 0;
    cursor: pointer;
  }